@import url("https://fonts.googleapis.com/css?family=Titan+One");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  overscroll-behavior: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #474b6d;
}

button,
input {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  color: #fff;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 16px 0;
}

h2 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}

p,
div {
  font-size: 0.875rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
